@model CarsListViewModel

<h1>Все автомобили</h1>
<h3>@Model.CurrentCategory</h3>
<div class="row mt-5 mb-2">
	@{
		foreach(var car in Model.AllCars)
		{
			@await Html.PartialAsync("AllCars", car)
		}
	}
</div>